body {
  background-color: #fdddf2;
}
.App {
  text-align: center;
  margin-top: 34px;
  margin-bottom: 120px !important;
}

.app__form {
  border-radius: 20px 20px;
  box-shadow: inset 0px 0px 11px 0px #ed87ca;
  text-align: center !important;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 95%;
  margin: 20px;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
